// ============================================
// Typography
// ============================================

body {
  font-family: $baseFont;
  color: $appPrimary;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .75em;
  font-weight: normal;
}

a {
  color: $appSecondary;
}


p, li {
  font-size: .875em;
  line-height: 1.5em;
}

li {
  p, li {
    font-size: 1em;
  }
}